// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-cell{
  margin-bottom: 30px;
  text-align: center;
  & .delete-button{
    float: right;
  }
}