%link{:href => "//cdnjs.cloudflare.com/ajax/libs/jstree/3.1.1/themes/default/style.min.css", :rel => "stylesheet"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/jstree/3.1.1/jstree.min.js"}

- model_class = Category
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
#jstree-container
#temp-information{data: {json_tree: @json_tree}}
%hr
= link_to t('.new', :default => t("helpers.links.new")), new_category_path, :class => 'btn btn-primary'
